* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#linktree {
    font-family: Arial, sans-serif;
    background-color: #dde0e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #faf7f7, #cac7c7);

}

.container {
    background-color: rgb(248, 246, 244);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    max-width: 130px;
    border-radius: 50%;
    object-fit: cover;  
}

.profile-name {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f48240;
}

.bio {
    color: #666;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: #f48240;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #dde0e4;
    color: #f48240;
    font-weight: bold;
    
}

.link svg {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
}

 /* Protfolio style */

 #protfolio{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #FFCC80,  #f48240);
}

.header {
    display: flex;
    align-items: center;
    padding: 20px; 
    margin-left: 40px;
}

.protfolio-image {
    max-width: 200px;
    border-radius: 50%; 
}

.text-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-left: 100px;
}

.contact, .skills{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skills h2, .contact h2 {
    margin-bottom: 10px;
}

.skills ul {
    list-style-type: none;
}

.skills li {
    background: #e7f1ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 10px;
    border: none;
    background-color:  #f48240;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color:  #f48240;
}

.about{
    margin: 50px;
    margin-top: 10px;
}









